<div >
    <p>Votre rendez vous avec {{ oRdv.userId.firstName }} {{ oRdv.userId.lastName }} le {{ oRdv.creneauxDebut|date("d/m/Y") }} à {{ oRdv.creneauxDebut|date("H:i") }} est <strong>validé</strong>.</p>
    {% if oRdv.typeId is not null %}
        <p>Type de prestation : {{ oRdv.typeId.type }}</p>
    {% endif %}
</div>

