{% extends "@Rdv/layout.twig" %}
{% block content %}
<div class="container">
	{% for message in app.flashes('error') %}
    	<div class="row">
            <div class="alert-error">
                {{ message }}
            </div>
        </div>
    {% endfor %}
    {{ form_start(form) }}
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Ajout / modification de fermeture</h3>
        </div>
        <div class="card-body">
            {{ form_label(form.datedebut) }}
            <div>
                {{ form_errors(form.datedebut) }}
                {{ form_widget(form.datedebut) }}
            </div>
            {{ form_label(form.datefin) }}
            <div>
                {{ form_errors(form.datefin) }}
                {{ form_widget(form.datefin) }}
            </div>
        </div>
        <div class="card-footer">
            <div class="col-sm-2 offset-10">
                {{ form_widget(form.Enregistrer) }}
            </div>
        </div>
    {{ form_end(form) }}
    </div>
</div>
{% endblock %}