{% extends "@Rdv/partials/datatables.twig" %}
{% block javascripts %}
    {{ parent() }}    
    {{ sg_datatables_render_js(datatableTypeRdv) }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1>{{ tPro.firstname |nl2br }} {{ tPro.lastname |nl2br }}</h1>
        </div>
        <div class="col-3 offset-9">
            {% if is_user %}
                <div class="col-12">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle col-12" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Options
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{{ path('pagePerso_update') }}">Ajouter un paragraphe</a>
                            <a class="dropdown-item" href="{{ path('rdv_type_rdv_update') }}">Ajouter un Type RDV</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-12">
                    <a class="dropdown-item" href="{{ path('pagePerso_update') }}">
                        <button class="btn btn-primary col-12" type="button">Réservation d'un RDV</button>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-8">
            <div class="col-12">
                {% if tParagraphe is defined %}
                    {% for paragraphe in tParagraphe %}
                        <div class="card card-info">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-12">
                                        <h3 class="card-title">{{ paragraphe.titre|nl2br }}</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="rdv-datatable-div">
                                    {{ paragraphe.text|nl2br }}
                                </div>
                            </div>
                            <div class="card-footer">
                                {% if is_user %}
                                    <a href="{{ path('pagePerso_update', {'id':paragraphe.id}) }}">Editer</a>
                                {% endif %}
                                <div class="card-text" style='float: right;'>
                                    <i>
                                        Date Création : {{ paragraphe.dateCreation|date('d/m/Y H:i:s') }} | Date Modification : {{ paragraphe.dateModification|date('d/m/Y H:i:s') }}
                                    </i>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-4">
            <div class="col-12">
                <div class="card card-warning">
                    <div class="card-header">
                        <h3 class="card-title">{{ tPro.firstname |nl2br }} {{ tPro.lastname |nl2br }}</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class='col-4'>Métier</div>
                            <div class='col-8'>{{ tPro.metier |nl2br }}</div>
                        </div>
                        <div class="row">
                            <div class='col-4'>Email</div>
                            <div class='col-8'>{{ tPro.email |nl2br }}</div>
                        </div>
                        <div class="row">
                            <div class='col-4'>Téléphone</div>
                            <div class='col-8'>{{ tPro.telephone |nl2br }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card card-warning">
                        <div class="card-header">
                            <h3 class="card-title">Liste des types de rdv</h3>
                        </div>
                        <div class="card-body">
                            <div class="rdv-datatable-div">
                                {{ sg_datatables_render_html(datatableTypeRdv) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}