{% extends "@Rdv/layout.twig" %}
{% block content %}
    <div class="card card-primary">
        {{ form_start(form) }}
        <div class="card-body">
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">{{ form_label(form.userName) }}</label>
                <div class="col-sm-10">
                    {{ form_errors(form.userName) }}
                    {{ form_widget(form.userName) }}
                </div>
            </div>
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">{{ form_label(form.firstName) }}</label>
                <div class="col-sm-10">
                    {{ form_errors(form.firstName) }}
                    {{ form_widget(form.firstName) }}
                </div>
            </div>
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">{{ form_label(form.lastName) }}</label>
                <div class="col-sm-10">
                    {{ form_errors(form.lastName) }}
                    {{ form_widget(form.lastName) }}
                </div>
            </div>
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">{{ form_label(form.email) }}</label>
                <div class="col-sm-10">
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email) }}
                </div>
            </div>
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">{{ form_label(form.telephone) }}</label>
                <div class="col-sm-10">
                    {{ form_errors(form.telephone) }}
                    {{ form_widget(form.telephone) }}
                </div>
            </div>
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">{{ form_label(form.dateNaissance) }}</label>
                <div class="col-sm-10">
                    {{ form_errors(form.dateNaissance) }}
                    {{ form_widget(form.dateNaissance) }}
                </div>
            </div>
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">{{ form_label(form.metier) }}</label>
                <div class="col-sm-10">
                    {{ form_errors(form.metier) }}
                    {{ form_widget(form.metier) }}
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-info pull-right" type="submit">Enregister</button>
        </div>
        {{ form_end(form) }}
    </div>
    <div class="tableLieuRdv">
        {% include '@Rdv/Default/tablelieurdv.html.twig' %}
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        function addLieuRdv(idUser) {
            var strNom = $('#nomLieuRdv').val();
            var strAdr = $('#adresseLieuRdv').val();
            $.ajax({
                url: "{{ path('add_lieu_rdv') }}",
                type: 'POST',
                data: "idUser=" + idUser + "&strNom=" + strNom + "&strAdr=" + strAdr,
                dataType: 'html',
                success: function (reponse) {
                    $('.tableLieuRdv').html(reponse);
                }
            });
        }

        function addLieuRdv(idUser) {
            var strNom = $('#nomLieuRdv').val();
            var strAdr = $('#adresseLieuRdv').val();
            $.ajax({
                url: "{{ path('add_lieu_rdv') }}",
                type: 'POST',
                data: "idUser=" + idUser + "&strNom=" + strNom + "&strAdr=" + strAdr,
                dataType: 'html',
                success: function (reponse) {
                    $('.tableLieuRdv').html(reponse);
                }
            });
        }

        function deleteLieuRdv(idLieuRdv) {
            $.ajax({
                url: "{{ path('supp_lieu_rdv') }}",
                type: 'POST',
                data: "idLieuRdv=" + idLieuRdv,
                dataType: 'html',
                success: function (reponse) {
                    $('.tableLieuRdv').html(reponse);
                }
            });
        }
    </script>
{% endblock %}