{% extends "@Rdv/layout.twig" %}

{% block stylesheets %}
    <style>
        .fc-time:before {
            content:"" !important;
        }

    </style>
{% endblock %}

{% block content %}
    {% for message in app.flashes('success') %}
        <div class="row">
            <div class="alert-success">
                {{ message }}
            </div>
        </div>
    {% endfor %}
    <h1>Recherche creneaux</h1>
    {{ form(form) }}
    <div class="row">
    	<div id="calendrierCreneaux"></div>
    </div>
    <br/>
    <div class="row">
    	<div class="col-1">
            <button class="btn btn-primary col-12" id="lastWeek" type="button">Prec.</button>
        </div>
        <div class="col-1 offset-10">
            <button class="btn btn-primary col-12" id="nextWeek" type="button">Suiv.</button>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function changeTypeRdv() {
            $('#calendrierCreneaux').fullCalendar('destroy');
            $('#calendrierCreneaux').fullCalendar(generateCalendarConfig());
        };
        
        function getTypeRdvId() {
            return document.getElementById("form_typeDeRdv").value;
        }
        
        function generateCalendarConfig()
        {
            return {
                defaultView: 'agendaWeek',
                firstDay: 1, // lundi
                header: false,
                lang: 'fr',
                eventBackgroundColor: '#0000ff',
                events: {
                    url: '{{ path('recherche_creneaux_json', {'id': proId}) }}',
                    type: 'POST',
                    data: {
                        typeRdvId: getTypeRdvId()
                    },
                    headers: {
                        'X-Requested-With':'XMLHttpRequest'
                    },
                    error: function() {
                      alert('there was an error while fetching events!');
                    }
                },
                eventClick: function(calEvent, jsEvent, view){
					var url = '{{ path("order_rdv_confirm", {'pro': 'strpro', 'start': 'strstart', 'end': 'strend', 'type': 'strtype', 'lieu': 'strlieu'}) }}';
					url = url.replace("strpro", calEvent.pro);
					url = url.replace("strstart", calEvent.start);
					url = url.replace("strend", calEvent.end);
					url = url.replace("strtype", calEvent.typerdv);
					url = url.replace("strlieu", calEvent.lieu);
					window.location.replace(url);
                },
                themeSystem: 'bootstrap4'
            };
        }
        
        $(function() {
            $('#calendrierCreneaux').fullCalendar(generateCalendarConfig());
        });

        $('#lastWeek').click(function() {
    	  	$('#calendrierCreneaux').fullCalendar('prev');
    	});

        $('#nextWeek').click(function() {
    	  	$('#calendrierCreneaux').fullCalendar('next');
    	});
    </script>
{% endblock %}