{% extends "@Rdv/layout.twig" %}
{% block content %}
<div class="container">
    {{ form_start(form) }}
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Edition/Création type de rendez vous</h3>
        </div>
        <div class="card-body">
            {{ form_label(form.type) }}
            <div>
                {{ form_errors(form.type) }}
                {{ form_widget(form.type) }}
            </div>
            {{ form_label(form.tarif) }}
            <div>
                {{ form_errors(form.tarif) }}
                {{ form_widget(form.tarif) }}
            </div>
            {{ form_label(form.duree) }}
            <div>
                {{ form_errors(form.duree) }}
                {{ form_widget(form.duree) }}
            </div>
        </div>
        <div class="card-footer">
            <div class="col-sm-2 offset-10">
                {{ form_widget(form.Enregistrer) }}
            </div>
        </div>
    {{ form_end(form) }}
    </div>
</div>
{% endblock %}