{% extends "@Rdv/layout.twig" %}
{% block content %}
    {{ form_start(form) }}
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Edition profil</h3>
        </div>
        <div class="card-body">
                {{ form_label(form.userName) }}
                <div>
                    {{ form_errors(form.userName) }}
                    {{ form_widget(form.userName) }}
                </div>
                {{ form_label(form.firstName) }}
                <div>
                    {{ form_errors(form.firstName) }}
                    {{ form_widget(form.firstName) }}
                </div>
                {{ form_label(form.lastName) }}
                <div>
                    {{ form_errors(form.lastName) }}
                    {{ form_widget(form.lastName) }}
                </div>
                {{ form_label(form.email) }}
                <div>
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email) }}
                </div>
                {{ form_label(form.telephone) }}
                <div>
                    {{ form_errors(form.telephone) }}
                    {{ form_widget(form.telephone) }}
                </div>
                {{ form_label(form.dateNaissance) }}
                <div>
                    {{ form_errors(form.dateNaissance) }}
                    {{ form_widget(form.dateNaissance) }}
                </div>
            </div>
        <div class="card-footer">
            <button class="btn btn-info pull-right" type="submit">Enregister</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
